.nav{
    background-color: black;
    padding: 0 30px;
}

.nav-link{
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration:none;
    list-style:none;
    margin: 0;
}

.nav-link li {
    color: white;
}